.better-clock {
    display: block;
    width: 300px;
    border-radius: 8px;
    border: 1px solid deeppink;
    text-align: center;
    
}

.better-clocl_time {
    color: black;
    font-size: 48px;
}